// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background-color: #fff;

  h1 {
    font-size: 2.25rem;
  }

  .leafy {
    background: url("../images/leafy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    height: 250px;
  }
  .leafyfall {
    background: url("../images/leaves-fall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    height: 280px;
  }
  .flipped {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  h1.fancy-names {
    line-height: 130%;
    margin: 30px 0px;
    z-index: 2;
    position: relative;
  }
  span.scrunch {
    margin: -93px 0px 0px;
    padding-bottom: 90px;
    display: block;
    font-size: 550%;
    opacity: 0.3;
    position: relative;
    z-index: 1;
    line-height: 0px;
  }
  @include media-breakpoint-up(lg) {
    // height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
  @include media-breakpoint-down(med) {
    header.masthead span.scrunch {
      margin: -68px 0px 0px;
      padding-bottom: 68px;
    }
  }

  @include media-breakpoint-down(sm) {
    .leafy {
      height: 200px;
    }
    .leafyfall {
      height: 180px;
    }
    h1.fancy-names {
      margin: 15px 0px;
    }
    span.scrunch {
      margin: -48px 0px 0px;
      padding-bottom: 48px;
    }
    & {
      padding-bottom: 0px;
    }
  }
  @include media-breakpoint-down(xs) {
    .leafy {
      height: 100px;
    }
    .leafyfall {
      height: 130px;
    }
    h1.fancy-names {
      margin: 12px 0px;
    }
  }
}
